.place__image {
    width: 100%;
    grid-area: image;
}

@media screen and (max-width: 730px) {
    .place__image {
        width: 100vw;
        height: calc(100vw / 1);
        margin-bottom: 32px;
    }
}